*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

.btn{
    padding: 50px;
}

.model-btn{
    padding: 10px 20px;
    cursor: pointer;
}

.model{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    width: 500px;
    max-width: 80%;
    background-color: bisque;
}

.model.active{
    transform: translate(-50%, -50%) scale(1);
}

.model-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid black;
}

.model-header button{
    font-weight: 600;
    font-size: 1.7rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.model-body{
    padding: 10px 15px;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}